*{
    margin: 0;
    padding: 0;
    font-family: 'inter';
} 
/* Início cabeçalho */

#cabecalho{
    height: 350px;
    width: 100%;
    background-color: #303030;
}
.logo img{
    width: 180px;
    height: 180px;
    margin: -20px 0 0 30px;

}
.titulo-cabecalho{
    
    position: absolute;
    top:170px;
    left: 60px;
    color: white;
    font-size: 35px;
}
.texto-cabecalho{
    position: absolute;
    top: 235px;
    left: 60px;
    font-size: 15px;
    color: white;
}
/* Fim cabeçalho */
#informacional{
    height: 150px;
    background-color:  #F9F9F9;
    display: grid;
    grid-auto-flow: column;
    padding: 90px 0 0 170px;
    color: black;
/* Início informacional */
}
#informacional p span{
    font-weight: bold;
    font-size: 28px;
}
/* Fim informacional */

/* Inicio conteúdo principal */
#conteudo-principal{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    font-size: 17px;
    padding-left: 130px;
    
}
.titulo-conteudo {
    font-weight: bold;
    font-size: 28px;
    
}
#conteudo-principal p{
    padding-top: 200px;
}
#img-0 {
    width: 450px;
    height: 550px;
    margin-left: 50px;
}
.img-1{
    display: none;
    width: 450px;
    height: 540px;
    border-radius: 25px;
    margin:0 0 10px 50px;
    
}

#seta-esquerda{
    position: relative;
    top: 250px;
    left: 60px;
    cursor: pointer;
}
#seta-direita{
    position: relative;
    top: 250px;
    right: 10px;
    cursor: pointer;
}
#seta-esquerda:hover{
    transform: translateY(-8px);
    transition-duration: 0.8s;
}
#seta-direita:hover{
    transform: translateY(-8px);
    transition-duration: 0.8s;
}
/* Fim conteúdo principal */

/* Início rodapé */
#rodape{
    height: 400px;
    background-color: #303030;
}
.titulo-rodape{
    color: white;
    text-align: center;
    padding-top: 50px;
}   

 form input {
    display: flex;
    margin: 45px auto;
    width: 408px;
    height: 48px;
    border-radius: 8px;
    padding-left: 20px;
    border: none;
}

form button{
    display: flex;
    margin: 60px auto;
    width: 250px;
    height: 45px;
    border-radius: 8px;
    padding: 9px 0 0 60px;
    font-size: 20px;
    background-color: #C07212;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
}
form input:hover{
    box-shadow: 2px 2px black;
}
form button:hover{
    box-shadow: 2px 2px black;
}
/* Fim rodapé */